<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.galou.watchmyback">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".WatchMyBackApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/WatchMyBackTheme">
        <activity android:name=".addFriend.AddFriendActivity"></activity>
        <activity
            android:name=".AddTripActivity"
            android:label="@string/add_trip"
            android:parentActivityName=".main.MainActivity" />
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".main.MainActivity" />
        <activity
            android:name=".profile.ProfileActivity"
            android:label="@string/my_profile"
            android:parentActivityName=".main.MainActivity" />
        <activity android:name=".AddModifyCheckListActivity" />
        <activity
            android:name=".DetailsTripActivity"
            android:label="@string/details_trip"
            android:parentActivityName=".main.MainActivity" />
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>