<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.galou.watchmyback">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:name=".WatchMyBackApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/WatchMyBackTheme"
        android:usesCleartextTraffic="true">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".detailsPoint.DetailsPointActivity"
            android:label="@string/point_details_title"/>

        <activity
            android:name=".mapPickLocation.PickLocationActivity"
            android:label="@string/pick_location_title" />
        <activity
            android:name=".addFriend.AddFriendActivity"
            android:label="@string/add_friends_title" />
        <activity
            android:name=".addTrip.AddTripActivity"
            android:label="@string/add_trip"
            android:parentActivityName=".main.MainActivity" />
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/settings"/>
        <activity
            android:name=".profile.ProfileActivity"
            android:label="@string/my_profile" />
        <activity
            android:name=".addModifyCheckList.AddModifyCheckListActivity"
            android:label="@string/title_add_checklist" />
        <activity
            android:name=".detailsTrip.DetailsTripActivity"
            android:label="@string/details_trip"/>
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>